<div class="container">
  <div class="ui-widget" *ngFor="let weather of weatherData">
    <h1 class="ui-value">{{weather?.main.temp | number: '1.0-0'}}<small>°c</small>
      {{weather?.wind.speed | number: '1.0-0'}}<small>mph</small></h1>
    <span class="ui-label">{{weather?.name}}</span>
  </div>
</div>

