body {
    text-align: center
}

.container {
    margin-top: 20%
}

.ui-widget {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 30px;
    border: 15px solid #00aeef;
    border-radius: 150px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), inset 0 3px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    border-bottom-color: #fff
}

.ui-widget .ui-value {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    font-size: 40px;
}

.ui-widget .ui-label {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    color: #888;
    font-weight: 700
}
